fcm-mdm-orders-pub3/classes/fcm-mdm-orders-pub.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration"/>
    <flow name="fcm-mdm-orders-pubFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api/orders" doc:name="HTTP"/>
        <logger message="Order Payload : #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <json:json-to-object-transformer returnClass="java.lang.Object" doc:name="JSON to Object" mimeType="application/java"/>
        <set-variable variableName="order" value="#[payload]" mimeType="application/java" doc:name="Variable"/>
        <async doc:name="Async">
            <scatter-gather doc:name="Scatter-Gather">
                <processor-chain>
                    <flow-ref name="fcm-zuora-orderFlow" doc:name="fcm-zuora-orderFlow"/>
                    
                </processor-chain>
                <flow-ref name="fcm-upsert-newbusinessorderFlow" doc:name="fcm-upsert-newbusinessorderFlow"/>
            </scatter-gather>
        </async>
        <set-payload value="{ &quot;success&quot; : &quot;true&quot; }" mimeType="application/json" doc:name="Set Payload"/>
    </flow>
</mule>
